@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --pink: #e92a8f;
  --orange: #f26922;
  --green: #8ec63f;
  --blue: #4ec6dd;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  margin-bottom: 4rem;
}

h2 {
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  max-width: 100%;
  width: 100%;
  height: 80px;
  margin: 0;
  /* padding-inline: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px #00000030;
  background-color: white;
  z-index: 1;
}

header img {
  width: auto;
  height: 100%;
  margin: 0;
  height: 100%;
  width: auto;
}

#artisanlogo {
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 80px;
}

nav {
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-right: 10px;
}

nav a {
  min-height: 100%;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  /* background-color: var(--blue); */
  padding: 1rem;
  text-wrap: nowrap;
  margin-left: 10px;
}

#orange {
  color: var(--orange);
}

#blue {
  color: var(--blue);
}

#pink {
  color: var(--pink);
}

#green {
  color: var(--green);
}

#orange:hover {
  background-color: var(--orange);
  color: white;
}
#blue:hover {
  background-color: var(--blue);
  color: white;
}
#pink:hover {
  background-color: var(--pink);
  color: white;
}
#green:hover {
  background-color: var(--green);
  color: white;
}

@keyframes colorchange {
  25% {
    background-color: var(--orange);
  }
  50% {
    background-color: var(--green);
  }
  75% {
    background-color: var(--pink);
  }
}

main {
  top: 0;
  display: flex;
  /* height: 85vh; */
  width: 100%;
  max-width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

#videotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  color: white;
  z-index: 1;
  text-shadow: 0px 2px 5px #00000080;
  line-height: 0.1;
}
#videotext h1 {
  font-size: 72px;
}
#videotext a {
  color: white;
  text-decoration: none;
  background-color: var(--blue);
  border-radius: .25rem;
  padding: 2rem;
  box-shadow: 2px 2px 10px black;
  transition: 0.5s;
  margin-top: 1rem;
}
#videotext a:hover {
  scale: 1.1;
  animation-name: colorchange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

main video {
  max-width: 100%;
  width: 70%;
  position: absolute;
  top: 20%;
}

#vendors-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  /* border: 1px solid black; */
  margin: 0 auto;
  padding: 2%;
}

#pagetitle {
  margin: 0;
  height: auto;
  padding: 0;
  border: 0;
  border: 0px solid black;
}
#vendorlist {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  row-gap: 80px;
  column-gap: 30px;
  padding-top: 2rem;
}
#vendorListCard {
  height: 100%;
  border-radius: 0.2rem;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  box-shadow: 0 2px 8px #00000020;
  /* margin-bottom: 30px; */
}

#vendorlist div img {
  position: relative;
  top: -80px;
  margin-bottom: -40px;
  height: 100px;
  width: 100px;
  background-color: #4ec6dd;
  border-radius: 100%;
}

#vendorlist div h3 {
  margin-top: 0px;
}

#socialLinks {
  gap: 10px;
  display: flex;
  justify-content: center;
}

button {
  border: 1px solid var(--orange);
  border-radius: 0.2rem;
  background-color: white;
  color: var(--orange);
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.8rem;
  cursor: pointer;
}

button:hover {
  background-color: #f26922;
  color: white;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-block: 1rem;
  width: 250px;
  /* border: 1px solid black; */
  background-color: #e9f6e8;
  margin: 0;
  padding-inline: 3rem;
}

#asideStickyDiv {
  position: sticky;
  top: 100px;
}

ul {
  padding-left: 0;
}

li {
  margin-block: 1.5rem;
  list-style: none;
  min-width: max-content;
}

#content {
  display: flex;
}

input {
  margin-right: 10px;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  border: 1px solid black;
  padding: 1%;
}

#calendar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 90%;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  row-gap: 10px;
  column-gap: 10px;
  padding: 0.5rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  margin-bottom: 50px;
}

#dayOfWeek {
  text-align: center;
  color: #808080;
}

.calendarDayBox {
  display: flex;
  flex-direction: column;
  color: #999999;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 0.2rem;
  width: 100%;
  height: 110px;
  padding: 0.5rem;
}

.calendarDayBox h2 {
  text-align: left;
  margin: 0;
  font-weight: 500;
}

.hasEvent {
  background-color: #fff;
  border: 1px solid black;
  color: black;
  transition: all 0.1s;
}

.hasEvent:hover {
  cursor: pointer;
  transform: translateY(0px) translateX(2px) skewX(1deg);
  box-shadow: -2px 5px 2px #00000020;
}

#calendarMain {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  min-height: 90vh;
}

#eventBlobsDiv {
  height: 100%;
  display: flex;
  align-items: end;
  gap: 2px;
}

#eventBlobsDiv div {
  height: 25%;
  width: 25%;
  border-radius: 1rem;
}

.eventType1 {
  background-color: var(--orange);
}

.eventType2 {
  background-color: var(--pink);
}

.eventType3 {
  background-color: var(--blue);
}

.eventType4 {
  background-color: var(--green);
}

#eventPopUpWindow {
  display: none;
  position: fixed;
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 0.2rem;
  background-color: #fff;
  width: 500px;
  min-height: 60%;
  box-shadow: 0px 10px 20px #00000030;
}

.eventPopUpCard {
  text-decoration: none;
  color: #000;
  margin-block: 0;
  border-radius: 0.2rem;
  border: 1px solid #aaaaaa;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px #00000020;
  transition: all 0.1s;
}

.eventPopUpCard:hover {
  transform: translateX(2px) translateY(-2px);
  box-shadow: -2px 4px 2px #00000020;
}

.eventPopUpColorBlob {
  margin-right: 0.5rem;
  height: 12px;
  width: 100%;
}

#eventPopUpCardContent {
  margin-inline: 1rem;
}

#eventPopUpCardContent h3,
p {
  margin: 0;
  margin-block: 0.5rem;
}

#eventPopUp h1 {
  margin-block: 0;
}

.goToEventBtn {
  height: 70px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

#closebutton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4%;
  font-size: 32px;
  font-weight: bold;
  padding: 1% 2% 1% 2%;
  transition: 0.1s;
}

#closebutton:hover {
  transform: translateX(2px) translateY(-2px);
  box-shadow: -2px 4px 2px #00000020;
}
#popUpHolder {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}

#hone {
  margin-bottom: 0px;
}

#abouttext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89vh;
  font-size: 3rem;
  padding-inline: 4rem;
  text-align: center;
  background-color: var(--orange);
  color: white;
}

#abouttext p {
  max-width: 40ch;
}

.btnP {
  background-color: var(--blue);
  color: white;
  font-size: 1.2rem;
  border-color: var(--blue);
  padding-inline: 2rem;
  min-width: 20ch;
  box-shadow: 0px 3px 5px #00000030
}

.btnS {
  background-color: var(--green);
  color: white;
  font-size: 1.2rem;
  border-color: var(--green);
  padding-inline: 2rem;
  min-width: 20ch;
  box-shadow: 0px 5px 5px #00000030
}

.btnP:hover, .btnS:hover {
  border-color: white;
}

.homeMain {
  margin-bottom: 4rem;
  background-color: #8ec63f;
}